@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto bg-gray-50 text-gray-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins font-semibold;
  }
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}